# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  checks: write

jobs:
  test:
    name: Unit Tests

    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4.1.1
      - name: Set up JDK 19
        uses: actions/setup-java@v3.13.0
        with:
          java-version: '19'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.9.0
        with:
          gradle-version: wrapper
      - name: Run Tests
        uses: gradle/gradle-build-action@v2.9.0
        with:
          arguments: test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4.0.3
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test*UnitTest/TEST-*.xml'

  test2:
    name: Emulator Tests
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [ 27, 28, 29, 30, 31, 32, 33, 34 ]
        arch: [x86, x86_64]
        exclude:
          - api-level: 27
            arch: x86_64
          - api-level: 28
            arch: x86
          - api-level: 29
            arch: x86
          - api-level: 30
            arch: x86
          - api-level: 31
            arch: x86
          - api-level: 32
            arch: x86
          - api-level: 33
            arch: x86
          - api-level: 34
            arch: x86
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4.1.1
      - name: Set up JDK 19
        uses: actions/setup-java@v3.13.0
        with:
          java-version: '19'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.9.0
        with:
          gradle-version: wrapper
      - name: AVD cache
        uses: actions/cache@v3.3.2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}
      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2.28.0
        with:
          api-level: ${{ matrix.api-level }}
          target: google_apis
          arch: ${{ matrix.arch }}
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
      - name: Run Tests
        uses: ReactiveCircus/android-emulator-runner@v2.28.0
        with:
          api-level: ${{ matrix.api-level }}
          target: google_apis
          arch: ${{ matrix.arch }}
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew connectedCheck